<% if (Array.isArray(games) && games.length > 0) { %>
<ul class="container">
    <% games.forEach(game => { %>
        <% if (game) { %>
            <!-- Whole game item including: Header image, Title, Price, Link to detail page -->
            <li class="item">
                <!-- go to /game/{appid} -->
                <a href="/game/<%= game.steam_appid %>">
                    <div class="container-item">
                        <div class="content">
                            <!-- Header Image -->
                            <img class="game-image" src="<%= game.header_image %>"
                                alt="<%= game.name %> header image"
                                onerror="this.src='https://placehold.jp/c0bfbc/ffffff/300x180.png?text=image';">
                        </div>
                        <div class="content">
                            <!-- If game title longer than 47 characters, replace the remaining with "..." -->
                            <h2 class="game-title"><%= game.name.length > 47 ? game.name.substring(0, 47) + '...' : game.name %></h2>
                        </div>
                        
                        <div class="content">
                            <!-- Free -->
                            <% if (game.is_free) { %>
                                <p class="game-price">
                                    <span class="game-price__price free">
                                        <strong>Free</strong>
                                    </span>
                                </p>

                            <!-- "Coming soon" OR "To be announced" game -->
                            <% } else if (game.release_date.coming_soon === true) { %>
                                <p class="game-price">
                                    <span class="game-price__price">
                                        <strong><%= game.release_date.date %></strong>
                                    </span>
                                </p>
                            <!-- If price data exist -->
                            <% } else if (game.price_overview) { %>
                                <!-- If there is discount -->
                                <% if (game.price_overview.discount_percent > 0) { %>

                                    <!-- Only choose 1 class depending on result data. Red (0 - 40), Yellow (41 - 65), Green (66 - 100). If there is no data, then leave the class empty '' -->
                                    <% let colorClass = game.price_overview.discount_percent <= 40 ? 'game-price__discount-red': 
                                                        game.price_overview.discount_percent <= 65 ? 'game-price__discount-yellow':
                                                        game.price_overview.discount_percent <= 100 ? 'game-price__discount-green': '';
                                    %>
                                    <p class="game-price">
                                        <!-- Discount Percentage -->
                                        <span class="<%= colorClass %>">
                                            -<%= game.price_overview.discount_percent %>%
                                        </span>
                                        <!-- Final Discount Price -->
                                        <span class="game-price__price">
                                            <%= game.price_overview.final_formatted %>
                                        </span>
                                    </p>

                                <!-- Otherwise, just show original price (A.k.a. Final price) -->
                                <% } else { %>
                                    <p class="game-price">
                                        <span class="game-price__price">
                                            <%= game.price_overview.final_formatted %>
                                        </span>
                                    </p>
                                <% } %>

                            <!-- If none of those price data exist, then show 'N/A' -->
                            <% } else { %>
                                <p class="game-price">
                                    <span class="game-price__price">
                                        <em>N/A</em>
                                    </span>
                                </p>
                            <% } %>
                        </div>
                    </div>
                </a>
            </li>
        <% } else { %>
            <li class="item">
                <div class="container-item">
                    <!-- Image Placeholder -->
                    <div class="content">
                        <img class="game-image" src="https://placehold.jp/c0bfbc/ffffff/300x180.png?text=image" alt="Image not available">
                    </div>
                    <!-- Game Title -->
                    <div class="content">
                        <h2 class="game-title">Not available</h2>
                    </div>
                    <!-- Price -->
                    <div class="content">
                        <p class="game-price">
                            <span class="game-price__price">
                                N/A
                            </span>
                        </p>
                    </div>
                </div>
            </li>
        <% } %>
    <% }) %>
</ul>
<% } else { %>
    <div class="container">
        <li class="item">
            <div class="container-item">
                <div class="content">
                    <img class="game-image" src="https://placehold.jp/c0bfbc/ffffff/300x180.png?text=image" alt="No games found">
                </div>
                <div class="content">
                    <h2 class="game-title">No games found</h2>
                </div>
                <div class="content">
                    <p class="game-price">
                        <span class="game-price__price">
                            N/A
                        </span>
                    </p>
                </div>
            </div>
        </li>
    </div>
<% } %>
