<%- include('partials/game/detailHeader.ejs') %>
<%- include('partials/navbar.ejs') %>

<!-- Game Title -->
<h1><%= game.name %></h1>

<div class="container">
    <!-- Left Side: Image, Video, Description -->
    <div class="left-container">
        <!-- Game Carousel Images -->
        <div class="content-container visual">
            <img width="800"
                src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/2622380/ss_edfd360b92d6f9b983b759fd837e664b86cd9563.600x338.jpg?t=1749150157"
                alt="">
        </div>

        <!-- Game Description -->
        <div class="content-container about">
            <h3>About this game</h3>
            <hr>
            <span>
                <%- game.about_the_game %>
            </span>
        </div>
    </div>

    <!-- Right Side: Ratings, Info, Requirements -->
    <div class="right-container">
        <!-- Ratings -->
        <div class="box-container box-rating">

            <div class="rating-container">
                <div class="rating-img">❤️</div>

                <div class="rating-text">
                    <!-- Recent Reviews -->
                    <p class="rating-text__item">
                        <strong>Recent Reviews:</strong>
                        <span class="rating-status">
                            <span class="rating-color">Positive</span>
                            <span class="rating-count">(8,644)</span>
                        </span>
                    </p>
                    <!-- All Reviews -->
                    <p class="rating-text__item">
                        <strong>All Reviews:</strong>
                        <span class="rating-status">
                            <span class="rating-color">Positive</span>
                            <span class="rating-count">(751,864)</span>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <!-- Game Informations -->
        <div class="box-container box-info">

            <img class="header-img"
                src="<%= game.header_image %>"
                alt="">
            <!-- Short Description -->
            <div class="info-container">
                <div class="info-short-description">
                    <%= game.short_description  %>
                </div>

                <!-- Info List -->
                <div class="info">
                    <!-- Release Date -->
                    <p class="info__item">
                        <strong>Release Date:</strong>
                        <% if (game.release_date.coming_soon === false) { %>
                            <span><%= game.release_date.date %></span>
                        <% } else { %>
                            <span><%= game.release_date.date %></span>
                        <% } %>
                    </p>
                    <!-- Platforms -->
                    <p class="info__item">
                        <strong>Platform:</strong>
                        <span class="platforms">
                        <% if (game.platforms?.windows) { %>
                            <span class="platform w">Windows</span>
                        <% } %>

                        <% if (game.platforms?.mac) { %>
                            <span class="platform m">MacOS</span>
                        <% } %>

                        <% if (game.platforms?.linux) { %>
                            <span class="platform l">Linux</span>
                        <% } %>
                        </span>
                    </p>
                    <!-- Developer -->
                    <% if (game.publishers) { %>
                    <p class="info__item">
                        <strong>Developer:</strong>
                        <% for (let i = 0; i < game.developers.length; i++) { %>
                        <span><%= game.developers[i]  %></span>
                        <% } %>
                    </p>
                    <% } %>
                    <!-- Publisher -->
                    <% if (game.publishers) { %>
                        <p class="info__item">
                            <strong>Publisher:</strong>
                            <% for (let i = 0; i < game.publishers.length; i++) { %>
                            <span><%= game.publishers[i]  %></span>
                            <% } %>
                        </p>
                    <% } %>

                    <!-- AppID -->
                    <p class="info__item">
                        <strong>App ID:</strong>
                        <span><%= game.steam_appid %></span>
                    </p>
                    <!-- Genres -->
                     <% if (game.genres) { %>
                        <p class="info__item">    
                            <strong>Genres:</strong>
                            <span class="genre-tags">
                            <% for (let i = 0; i < game.genres.length; i++) { %>
                                <span class="genre-tag"><%= game.genres[i].description  %></span>
                            <% } %>
                            </span>
                        </p>
                    <% } %>
                </div>
                <!-- Price -->
                <a href="https://store.steampowered.com/app/<%= game.steam_appid %>" target="_blank">
                    <div class="price-container">
                        <div class="price-items">
                            <img width="50"
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Steam_icon_logo.svg/1280px-Steam_icon_logo.svg.png"
                                alt="Steam">

                            <div class="price-info">
                                <!-- Free -->
                                <% if (game.is_free) { %>
                                    <p class="game-price">
                                        <span class="current-price">
                                            <strong>Free</strong>
                                        </span>
                                    </p>

                                <!-- "Coming soon" OR "To be announced" game -->
                                <% } else if (game.release_date.coming_soon === true) { %>
                                    <p class="game-price">
                                        <span class="current-price">
                                            <strong><%= game.release_date.date %></strong>
                                        </span>
                                    </p>

                                <!-- If price data exist -->
                                <% } else if (game.price_overview) { %>
                                    <!-- If there is discount -->
                                    <% if (game.price_overview.discount_percent > 0) { %>

                                        <!-- Only choose 1 class depending on result data. Red (0 - 40), Yellow (41 - 65), Green (66 - 100). If there is no data, then leave the class empty '' -->
                                        <% let colorClass = game.price_overview.discount_percent <= 40 ? 'game-price__discount-red': 
                                                            game.price_overview.discount_percent <= 65 ? 'game-price__discount-yellow':
                                                            game.price_overview.discount_percent <= 100 ? 'game-price__discount-green': '';
                                        %>

                                        <p class="game-price">
                                            <!-- Discount Percentage -->
                                            <span class="discount <%= colorClass %>">
                                                -<%= game.price_overview.discount_percent %>%
                                            </span>
                                            <span class="oc-price">
                                                <!-- Original Price -->
                                                <span class="original-price">
                                                    <%= game.price_overview.initial_formatted %>
                                                </span>
                                                <!-- Final Discount Price -->
                                                <span class="current-price">
                                                    <%= game.price_overview.final_formatted %>
                                                </span>
                                            </span>
                                            
                                        </p>
                                    <!-- Otherwise, just show original price (A.k.a. Final price) -->
                                    <% } else { %>
                                        <p class="game-price">
                                            <span class="current-price">
                                                <%= game.price_overview.final_formatted %>
                                            </span>
                                        </p>
                                    <% } %>
                                    
                                <!-- If none of those price data exist, then show 'N/A' -->
                                <% } else { %>
                                    <p class="game-price">
                                        <span class="current-price">
                                            <em>N/A</em>
                                        </span>
                                    </p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>
        <!-- System Requirements -->
        <div class="box-container box-requirement">
            <h3>System Requirements</h3>
            <!-- Platform Icons -->
            <div class="platform-icons-container">
                <hr>
                <div class="p-icons">
                    <% if (game.platforms?.windows) { %>
                        <button class="icon-btn windows">
                        <img class="platform-icon" src="https://images.seeklogo.com/logo-png/40/2/windows-11-icon-logo-png_seeklogo-406208.png" alt="Windows">

                        </button>
                    <% } %>

                    <% if (game.platforms?.mac) { %>
                        <button class="icon-btn mac">
                            <img class="platform-icon" src="https://cdn4.iconfinder.com/data/icons/flat-design-development-set-3/24/platform-mac-os-512.png" alt="MacOS">
                        </button>
                    <% } %>

                    <% if (game.platforms?.linux) { %>
                        <button class="icon-btn linux">
                            <img class="platform-icon" src="https://cdn-icons-png.flaticon.com/512/6124/6124995.png" alt="Linux">
                        </button>
                    <% } %>
                    
                </div>

                <hr>
            </div>
            <!-- Min & Max System Requirements -->
            <div class="system-requirements">
                <div class="min-requirement">
                    <strong class="minimum">MINIMUM</strong><br>
                    <ul class="req-ul">
                        <li>Requires a 64-bit processor and operating system<br></li>
                        <li><strong>OS:</strong> Windows 10<br></li>
                        <li><strong>Processor:</strong> Intel Core i5-10600 / AMD RYZEN 5 5500<br></li>
                        <li><strong>Memory:</strong> 12 GB RAM<br></li>
                        <li><strong>Graphics:</strong> NVIDIA GeForce GTX 1060 3GB / AMD Radeon RX 580 4GB<br></li>
                        <li><strong>DirectX:</strong> Version 12<br></li>
                        <li><strong>Storage:</strong> 30 GB available space<br></li>
                        <li><strong>Sound Card:</strong> Windows compatible audio device</li>
                    </ul>
                </div>
                <hr class="req-line">
                <div class="max-requirement">
                    <strong class="maximum">RECOMMENDED</strong><br>
                    <ul class="req-ul">
                        <li>Requires a 64-bit processor and operating system<br></li>
                        <li><strong>OS:</strong> Windows 11<br></li>
                        <li><strong>Processor:</strong> Intel Core i5-11500 / AMD RYZEN 5 5600<br></li>
                        <li><strong>Memory:</strong> 16 GB RAM<br></li>
                        <li><strong>Graphics:</strong> NVIDIA GeForce GTX 1070 8GB / AMD Radeon RX Vega-56 8GB<br></li>
                        <li><strong>DirectX:</strong> Version 12<br></li>
                        <li><strong>Storage:</strong> 30 GB available space<br></li>
                        <li><strong>Sound Card:</strong> Windows compatible audio device</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>
<%- include('partials/footer.ejs') %>