<%- include('partials/game/detailHeader.ejs') %>
<%- include('partials/navbar.ejs') %>

<!-- Game Title -->
<h1><%= game.name %></h1>

<div class="container">
    <!-- Left Side: Image, Video, Description -->
    <div class="left-container">
        <!-- Carousel Images and Videos -->
        <%- include('partials/game/carousel.ejs') %>
        
        <!-- Game Description -->
        <%- include('partials/game/aboutGame.ejs') %>
    </div>

    <!-- Right Side: Ratings, Info, Requirements -->
    <div class="right-container">
        <!-- Ratings -->
        <%- include('partials/game/rating.ejs') %>

        <!-- Game Informations -->
        <%- include('partials/game/information.ejs') %>

        <!-- System Requirements -->
        <%- include('partials/game/systemRequirements.ejs') %>
    </div>
</div>
<%- include('partials/footer.ejs') %>