<%- include('partials/home/homeHeader.ejs') %> 
<%- include('partials/navbar.ejs') %>


<div class="container-err">
    <button class="error-btn" onclick="location.href='/'">
        <h1 class="item-err"><%= caption %></h1>
        <h3 class="item-err">
            <span class="err-message"><%= message %></span>
        </h3>
        <h3 class="item-err">
            <span class="error"><%= error %></span>
        </h3>
    </button>

</div>





<!-- change searchquery to query to access error page -->
<%- include('partials/footer.ejs') %>